{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">
    <div class="container">
        {% if session.reviewer %}
            <h1 class="display-3">Resumes assigned to you</h1>
        {% else %}
            <h1 class="display-3">Your resumes</h1>
            <p>Here you can find the resumes that you have uploaded. Each resume gets assigned to one of our reviewers, so just sit back and wait until you get feedback.</p>
            
            <form id="resume-form" action="/add-resume" method="POST" enctype="multipart/form-data">
                <input type="file" accept="application/pdf" name="resume-field" id="resume-field" style="display:none;" onchange="submitResume()" required>
                <input class="btn btn-primary btn-lg" type="submit" value="Add resume +" name="add" onclick="resumeUpload()">
            </form>
            
            <!--<p><a class="btn btn-primary btn-lg" href="/add-resume" role="button">Add resume +</a></p>-->
        {% endif %}
    </div>
</div>

<div class="container">
    {% for chunk in resumes %}
        <div class="row">
            {% for resume in chunk %}
                <div id="{{ resume[3] }}" class="col-md-4 text-truncate">
                    <h2 style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">
                        {{ resume[0].split("_identifier_")[1] }}
                    </h2>
                    {% if session.reviewer %}
                        <p><span class="badge badge-light">Submitted by:</span> {{ resume[1] }}</p>
                    {% else %}
                    <p><span class="badge badge-light">Assigned to:</span> {{ resume[1] }}</p>
                    {% endif %}
                    <p><span class="badge badge-light">Submitted at:</span> {{ resume[2].strftime("%B %d, %Y at %H:%M") }}</p>
                    <div class="row">
                        <div class="col-md-6" style="float: left;">
                            <p><a class="btn btn-secondary" href="/resumes/{{ resume[3] }}" role="button">Open »</a></p>
                        </div>
                        <div class="col-md-6" style="float: right;">
                            {% if not session.reviewer %}
                                <!-- Delete resume button that triggers the modal -->
                                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteResumeModal-{{resume[3]}}" style="float: right;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                                    </svg>
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="deleteResumeModal-{{resume[3]}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Delete Resume</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete this resume? <br> This action can't be undone.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <form action="/delete-resume/{{ resume[3] }}" method="POST">
                                                    <button type="submit" class="btn btn-danger">Delete Resume</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                        


                    </div>
                </div>
            {% endfor %}
        </div>
        <hr>
    {% endfor %}
</div>

<script>
    function resumeUpload() {
        document.getElementById("resume-field").click();
    };

    function submitResume() {
        var resumeField = document.getElementById("resume-field");

        if(resumeField.files[0].size > 5242880){
            alert("Your resume is too big! The maximum filesize is 5MB.");
            resumeField.value = "";
            return;
        };

        document.getElementById("resume-form").submit()
    };
</script>

{% endblock %}